[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
sortedcontainers = "*"

[packages]
pyblake2 = "*"
pystemmer = "*"
cython = "*"
wordfreq = "*"
unidecode = "*"
html2text = "*"
lsm-db = {git = "https://github.com/coleifer/python-lsm-db/"}
python-levenshtein = "*"
xxhash = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}

[requires]
python_version = "3.7"
